
.navigation {
    position: fixed;
    width: 100%;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--section-padding-lg);
    padding-top: 1rem;
    color: var(--white--color);

    &__logo-box {
        opacity: 0;
        visibility: hidden;
        transition: all 1s;
        &.is-visible{
            opacity: 1;
            visibility: visible;
        }
    }
    &__logo {
        height: 8rem;
        width: 100%;
        transition: all 0.4s;
        opacity: 1;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__list {
        display: flex;
        list-style: none;
        padding: 0 1rem;
        align-self: stretch;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        transition: all 1s ease-in-out;
        &.is-visible{
            opacity: 1;
            visibility: visible;
        }
    }

    &__item {
        display: inline-block;
        position: relative;
        top: 0;
        transition: all 0.2s;
        padding: 1rem;

        &:not(:last-child) {
            padding: 1rem 2rem;
        }

        &:hover {
            top: -.8rem;
        }
    }

    &__link {
        &:active,
        &:link,
        &:visited {
            display: inline-block;
            text-decoration: none;
            font-weight: bold;
            color: currentColor;
        }
    }

    &__checkbox {
        display: none;
    }
    &__icon{
        position: relative;
        margin-top: 1.9rem;
    }
    &__icon,
    &__icon::after,
    &__icon::before {
        width: 2rem;
        height: 2px;
        background-color: #333;
        display: inline-block;
    }
    &__icon::before{
        top: 0.5rem;
    }

    &__icon::after{
        top: 1rem;
    }
    &__icon::after,
    &__icon::before{
        content: '';
        position: absolute;
        left: 0;
        transition: all .2s ease-in-out;
    }

    &__button {
        background-color: #fff;
        height: 5rem;
        width: 5rem;
        position: fixed;
        top: 3rem;
        right: 5rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
        text-align: center;
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
        transition: all 1s;
        &.is-visible{
            opacity: 1;
            visibility: visible;
        }
    }
}

.full-page-nav{
    &__background{
        height: 5rem;
        width: 5rem;
        position: fixed;
        top: 3rem;
        right: 5rem;
        background-image: radial-gradient(var(--primary-color), var(--black-color));
        z-index: 1000;
        visibility: hidden;
        opacity: 1;
        transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
        border-radius: 50%;
        &.active {
            transform: scale(90);
            visibility: visible;
            opacity: 1;
        }
    }

}
